* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* utitlis :- resuse */
.container {
    width: 90%;
    margin: 0 auto;
}

/* header start */
#header {
    background: url("/image/header.png");
    background-size: 100% 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0;
}

.navbar .logo {
    width: 100px;
}

.list .listdata {
    display: inline-block;
    padding: 0 20px;
}

.listdata .lista {
    text-decoration: none;
    font-size: 23px;
    text-transform: uppercase;
    color: #ffefd5;
    font-weight: 600;
    font-family: "Montserrat";
}

.icon .search {
    color: #ffefd5;
    font-size: 23px;
}

.icon .bar {
    display: none;
    color: #ffefd5;
    font-size: 23px;
}

.header-main {
    padding: 60px 0;
    font-family: "Montserrat";
}

.header-main .header-h1 {
    font-size: clamp(20px, 7.5vw, 78px);
    text-transform: uppercase;
    color: #ffefd5;
    font-weight: 700;
}

.header-main .header-p {
    font-size: clamp(16px, 3.5vw, 30px);
    color: #ffefd5;
    font-weight: 400;
    width: 50%;
    margin: 30px 0;
}

.header-main .header-btn {
    font-size: clamp(16px, 3vw, 25px);
    text-transform: uppercase;
    color: #b75a74;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 33px;
    background-color: #ffefd5;
}

/* header end */

/* team start */

#Team {
    background-color: #ffefd5;
}

.team-data {
    font-family: "Montserrat";
    text-align: center;
    color: #b75a74;
    padding: 20px 0;
}

.team-data .team-h1 {
    font-size: clamp(20px, 7vw, 64px);
    text-transform: uppercase;
    font-weight: 700;
}

.team-data .team-p {
    width: 50%;
    margin: 20px auto;
    font-size: 25px;
    font-size: clamp(16px, 3vw, 25px);
    font-weight: 400;
}

.team-card .row {
    display: flex;
}

.team-card .row .col {
    width: 33.33%;
}

.card .card-img {
    width: 70%;
    margin: 0 auto;
}

.card-text {
    padding: 20px 0;
    color: #b75a74;
    font-family: "Montserrat";
    text-align: center;
}

.card-text .card-h4 {
    font-size: 28px;
    font-weight: 700;
}

.card-text .card-p {
    width: 60%;
    margin: 10px auto;
    font-size: 17px;
    font-weight: 400;
}

/* team end */

/* serve start */
#resev {
    background-color: #b75a74;
    padding: 50px 0;
}

.resev .row {
    display: flex;
    align-items: center;
}

.resev .row .col {
    width: 50%;
}

.resev .img {
    width: 70%;
    margin: 0 auto;
}

.resev-content {
    font-family: "Montserrat";
    color: #ffefd5;
}

.resev-content .resev-h2 {
    font-size: clamp(20px, 7.5vw, 75px);
    text-transform: uppercase;
    font-weight: 700;
}

.resev-content .resev-p {
    font-size: clamp(16px, 3.5vw, 30px);
    font-weight: 400;
    margin: 20px 0;
}

.resev-content .resev-btn {
    font-size: clamp(16px, 3vw, 25px);
    text-transform: uppercase;
    color: #b75a74;
    font-weight: 700;
    text-align: center;
    padding: 10px 20px;
    border: none;
    border-radius: 33px;
    background-color: #ffefd5;
}

/* serve end */


/* footer start */
#footer {
    padding: 50px 0;
    background-color: #29141a;
}

.footer .row {
    display: flex;
}

.footer .row .col-4 {
    width: 40%;
}

.footer .row .col-6 {
    width: 60%;
}

.col-6 .row .col {
    width: 33.33%;
}

.footer-text .footer-h3 {
    font-size: 32px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
}

.footer-ul {
    list-style: none;
    margin: 10px 0;
}
.footer-ul .footer-li {
    margin: 10px 0;
}
.footer-ul .footer-li .footer-a {
    font-size: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Montserrat";
    text-decoration: none;
}
.footer-text .footer-p{

font-size: 24px;
color: #ffffff;
font-weight: 400;
font-family: "Montserrat";
width: 90%;
margin: 10px 0;
}

/* footer end */